.row-header {
    height: 20vh;
}

.row-wait-time {
    display: flex;
    height: 55vh;
}

.row-footer {
    height: 25vh;
}

.header-text {
    font-size: 4vmax;
}

.wait-time-text {
    font-size: 13vmax;
}

.footer-text {
    font-size: 3vmax;
}

.param-text {
    font-size: 4vmax;
    font-weight: bold;
}

.centered {
    margin: auto;
}
