.row-header {
    display: flex;
    height: 20vh;
}

.row-wait-time {
    display: flex;
    height: 60vh;
}

.row-footer {
    display: flex;
    height: 20vh;
}

.header-text {
    font-size: 4vmax;
}

.wait-time-text {
    font-size: 15vmax;
}

.footer-text {
    font-size: 3vmax;
}

.centered {
    margin: auto;
}
